/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Create at least one class, apply it to at least two elements, and style it.  */
.beige-background {
  background-color: #F5F5DC;
  padding: 10px;
  border-radius: 5px;
}

/* Create at least one id, apply it to an element, and style it.  */
#title_style_id {
  color: orange;
}

/* Use a CSS selector to apply style(s) to at least one HTML tag. */
p {
  outline: gold;
  color: gray;
  font-size: 12px;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

/* Change at least two box model properties of any tag, class, or id. */
.outer_box {
  font-size: 30px;
  width: 300px;           
  height: 200px;          
  padding: 20px;          
  margin: 30px;           
  border: 5px solid red;
}

/* Change at least two box model properties of any tag, class, or id. */
.middle_box {
  font-size: 15px;
  width: 300px;           
  height: 200px;          
  padding: 20px;          
  margin: 30px;           
  border: 5px solid orange;
}

/* Change at least two box model properties of any tag, class, or id. */
.inner_box {
  font-size: 15px;
  width: 300px;           
  height: 200px;          
  padding: 20px;          
  margin: 30px;           
  border: 5px solid yellow;
}
